#table-3 {
	border: 1px solid #dfdfdf;
	background-color: #f9f9f9;
	width: 80%;
	border-radius: 3px;
	font-family: Arial, Helvetica;
	color: #333;
}

#table-3 td, #table-3 th {
	border-top-color: white;
	border-bottom: 1px solid #dfdfdf;
	color: #555
}

#table-3 th {
	text-shadow: rgba(255,255,255,0.796875) 0px 1px 0px;
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 14px;
	padding: 7px 7px 7px;
	text-align: left;
	line-height: 1.3em;
}

#table-3 td {
	font-size: 12px;
	padding: 4px 7px 2px;
	text-align: left;
	vertical-align: top;
}